.kai-chain .top-container {
  margin-top: 5px;
}

.kai-chain.mobile .top-container .ui.grid.tx-section {
  margin-top: 0;
  margin-bottom: 0;
}

.kai-chain.mobile .top-container .ui.grid.tx-section .column {
  padding: 5px;
}
